---
title: "Legal Notice";
---

<h1>Legal Notice</h1>
<p>
  Angaben gemaess &sect; 5 TMG &amp; verantwortlich fuer den Inhalt nach &sect;
  55 Abs. 2 RStV:
</p>
<p>Marius Bleif</p>
<p>Roemerweg 6</p>
<p>66583 Spiesen-Elversberg</p>
<p>E-Mail: marius.b.gm (at) gmail.com</p>
<p>Haftungsausschluss:</p>
<p>Haftung fuer Inhalte</p>
<p>
  Die Inhalte unserer Seiten wurden mit groeßter Sorgfalt erstellt. Fuer die
  Richtigkeit, Vollstaendigkeit und Aktualitaet der Inhalte koennen wir jedoch
  keine Gewaehr uebernehmen. Als Diensteanbieter sind wir gemaeß &sect; 7 Abs.1
  TMG fuer eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
  verantwortlich. Nach &sect;&sect; 8 bis 10 TMG sind wir als Diensteanbieter
  jedoch nicht verpflichtet, uebermittelte oder gespeicherte fremde
  Informationen zu ueberwachen oder nach Umstaenden zu forschen, die auf eine
  rechtswidrige Taetigkeit hinweisen. Verpflichtungen zur Entfernung oder
  Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben
  hiervon unberuehrt. Eine diesbezuegliche Haftung ist jedoch erst ab dem
  Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung moeglich. Bei
  Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte
  umgehend entfernen.
</p>
<p>Haftung fuer Links</p>
<p>
  Unser Angebot enthaelt Links zu externen Webseiten Dritter, auf deren Inhalte
  wir keinen Einfluss haben. Deshalb koennen wir fuer diese fremden Inhalte auch
  keine Gewaehr uebernehmen. Fuer die Inhalte der verlinkten Seiten ist stets
  der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die
  verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf moegliche
  Rechtsverstoeße ueberprueft. Rechtswidrige Inhalte waren zum Zeitpunkt der
  Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der
  verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
  Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen
  werden wir derartige Links umgehend entfernen.
</p>
<p>Urheberrecht</p>
<p>
  Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten
  unterliegen dem deutschen Urheberrecht. Die Vervielfaeltigung, Bearbeitung,
  Verbreitung und jede Art der Verwertung außerhalb der Grenzen des
  Urheberrechtes beduerfen der schriftlichen Zustimmung des jeweiligen Autors
  bzw. Erstellers. Downloads und Kopien dieser Seite sind nur fuer den privaten,
  nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite
  nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
  beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet.
  Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden,
  bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
  Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
</p>
<p>Datenschutz</p>
<p>
  Die Webseite enthaelt keine Tracking Cookies und sammelt keine
  personenbezogenen Daten. Die IP Adresse von Besuchern wird evtl. von meinem
  Hoster (Netlify) geloggt, dazu siehe: <a
    href="https://www.netlify.com/privacy/"
    class="link--external"
    target="_blank"
    rel="noreferrer">Netlify Datenschutz</a
  >
</p>
