---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Marius Bleif
  </div>
  <div class="inline opacity-75">
    <a href="/legal-notice" class="mr-4">Legal Notice</a>
    <a href="/privacy-policy">Privacy Policy</a>
  </div>
</footer>
<style></style>
